text {
  cursor: pointer;
}

div .hero-body {
  padding-top: 0.5rem;
}

.modal-content {
  color: black;
  background-color: whitesmoke;
}

.card-header-title {
  background-color: rgba(5, 0, 0, 0.2);
}

.notification {
  padding-left: 0;
}
