text {
  cursor: pointer;
}

text:hover {
  font-weight: 900;
}

.rep-finder {
  margin-top: 0.88rem;
}

nav {
  padding: 0 3rem 0 3rem;
}

h2 {
  margin-top: 0.4rem;
  height: 1.5rem;
}
.rep-not-found {
  display: flex;
  flex-direction: row;
}

.rep-area {
  display: flex;
  justify-content: flex-end;
  padding: 0 3rem 0 3rem;
}

input {
  width: 8.5rem;
  margin: 0 1rem 0 1rem;
  border: 1px solid #979a97;
  background-color: #e9e9e9;
  padding-left: 0.4rem;
  height: 32.5px;
  font-size: 16px;
  margin-bottom: 1.5rem;
}

.find-rep-button {
  background-color: #151515;
  border: none;
  color: white;
  padding: 7px 15px;
  margin-left: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

div .hero-body {
  padding-top: 0.5rem;
}

.twitter-login-btn {
  margin-top: 0.88rem;
  padding-left: 0.75rem;
}

.modal-content {
  color: black;
  background-color: rgba(0, 0, 0, 0.01);
}

.card-header-title {
  background-color: rgba(5, 0, 0, 0.2);
}

.notification {
  padding-left: 0;
}

.john-head {
  margin-bottom: 0;
}

.reset-btn-home {
  background-color: #151515;
  border: none;
  color: white;
  padding: 7px 30px;
  margin-left: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.input-home-field {
  border: 1px solid #979a97;
  background-color: #e9e9e9;
  padding-left: 0.4rem;
  width: 30%;
  height: 37.5px;
  font-size: 16px;
  margin-bottom: 1.5rem;
  margin-left: 0;
}

.reset-btn-cloud {
  background-color: #151515;
  border: none;
  color: white;
  padding: 7px 30px;
  margin-left: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.wordcloud-input {
  border: 1px solid #979a97;
  background-color: #e9e9e9;
  padding-left: 0.4rem;
  width: 30%;
  height: 37.5px;
  font-size: 16px;
  margin-bottom: 1rem;
}

iframe {
  margin-top: 1.5rem;
}

.lobbyist-name {
  margin-right: 1rem;
}

a {
  color: white;
}

a:hover {
  color: gray;
}
