text {
  cursor: pointer;
}

text:hover {
  font-weight: 900;
}

div .hero-body {
  padding-top: 0.5rem;
}

.modal-content {
  color: black;
  background-color: rgba(0, 0, 0, 0.01);
}

.card-header-title {
  background-color: rgba(5, 0, 0, 0.2);
}

.notification {
  padding-left: 0;
}

.john-head {
  margin-bottom: 0;
}

.reset-btn-home {
  background-color: #151515;
  border: none;
  color: white;
  padding: 7px 30px;
  margin-left: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.input-home-field {
  border: 1px solid #979a97;
  background-color: #e9e9e9;
  padding-left: 0.4rem;
  width: 30%;
  height: 37.5px;
  font-size: 16px;
  margin-bottom: 1.5rem;
}

.reset-btn-cloud {
  background-color: #151515;
  border: none;
  color: white;
  padding: 7px 30px;
  margin-left: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.wordcloud-input {
  border: 1px solid #979a97;
  background-color: #e9e9e9;
  padding-left: 0.4rem;
  width: 30%;
  height: 37.5px;
  font-size: 16px;
  margin-bottom: 1rem;
}

iframe {
  margin-top: 1.5rem;
}

.lobbyist-name {
  margin-right: 1rem;
}
