nav {
  display: flex;
  align-content: space-around;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 1rem;
}

a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 19.5%;
  margin-right: 0.5rem;
  text-align: center;
  line-height: 3;
  color: whitesmoke;
  border-radius: 20px;
  text-decoration: none;
}

li:last-child a {
  margin-right: 0;
}

a:link,
a:visited,
a:focus {
  background: teal;
}

a:hover {
  background: cornflowerblue;
}

a:active {
  background: lightcoral;
  color: white;
}
